.posterImg-contain {
    width: 100%;
    text-align: center;
}

.posterImg {
    width: 500px;
    margin-bottom: 30px;
}

.back {
    position: fixed;
    width: 90px;
    left: 10px;
    top: 10px;
}

.back:hover {
    -webkit-filter: drop-shadow(3px 2px 0px #222);
    filter: drop-shadow(3px 2px 0px #222);
}

.back:active {
    -webkit-filter: drop-shadow(0px 0px 0px #222);
    filter: drop-shadow(0px 0px 0px #222);
}

.detail-contain p {
    margin: 0px !important;
}